{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {
          "app": "./app"
        },
        "cwd": "babelrc"
      }
    ],
    "transform-decorators",
    "transform-flow-strip-types",
  ],
}
